<a href="https://colab.research.google.com/github/saonongjang/coding_excercise/blob/main/Data_control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 읽기/쓰기 저장하기

In [2]:
# 텍스트 파일 읽기 쓰기
import pandas as pd
import numpy as np

In [5]:
%%writefile example1.csv
a,b,c,d,e,text
1,2,3,4,5, hi
6,7,8,9,10, pandas
11,12,13,14,15, csv

Writing example1.csv

In [6]:
!ls

example1.csv  example.csv  sample_data

In [8]:
pd.read_csv('example1.csv')

    a   b   c   d   e     text
0   1   2   3   4   5       hi
1   6   7   8   9  10   pandas
2  11  12  13  14  15      csv

In [9]:
# head없이 불러오기
pd.read_csv('example1.csv',header=None)

    0   1   2   3   4        5
0   a   b   c   d   e     text
1   1   2   3   4   5       hi
2   6   7   8   9  10   pandas
3  11  12  13  14  15      csv

In [10]:
# header를 별도로 부여하기
pd.read_csv('example1.csv', names =['x', 'y','z', 'm','n', 'p'])

    x   y   z   m   n        p
0   a   b   c   d   e     text
1   1   2   3   4   5       hi
2   6   7   8   9  10   pandas
3  11  12  13  14  15      csv

In [11]:
# 특정칼럼을 인덱스로 사용하기

pd.read_csv('example1.csv', names =['x', 'y','z', 'm','n', 'p'], index_col='p')

          x   y   z   m   n
p
text      a   b   c   d   e
 hi       1   2   3   4   5
 pandas   6   7   8   9  10
 csv     11  12  13  14  15

In [19]:
%%writefile example3.txt
a b c d
1,0.1 0.2 0.3
2 0.4 0.5 0.6
3 0.7 0.8 0.9

Overwriting example3.txt

In [20]:
pd.read_table('example3.txt', sep='\s+')

       a    b    c    d
0  1,0.1  0.2  0.3  NaN
1      2  0.4  0.5  0.6
2      3  0.7  0.8  0.9

In [22]:
%%writefile example4.csv
# 파일 설명
a,b,c,d,e,text
# 컬럼은 a,b,c,등이 있음
1,2,3,4,5, hi
6,7,8,9,10, pandas
11,12,13,14,15, csv

Writing example4.csv

In [23]:
pd.read_csv('example4.csv', skiprows=[0,2])

    a   b   c   d   e     text
0   1   2   3   4   5       hi
1   6   7   8   9  10   pandas
2  11  12  13  14  15      csv

In [27]:
%%writefile example5.csv
1,2,3,4,5, hi
6,7,8,9,10, pandas
11,12,13,14,15, csv
1,2,3,4,5, hi
6,7,8,9,10, pandas
11,12,13,14,15, csv
1,2,3,4,5, hi
6,7,8,9,10, pandas
11,12,13,14,15, csv
1,2,3,4,5, hi
6,7,8,9,10, pandas
11,12,13,14,15, csv

Writing example5.csv

In [30]:
# 데이터의 일부만 불러오기

pd.read_csv('example5.csv',nrows=5)

    1   2   3   4   5       hi
0   6   7   8   9  10   pandas
1  11  12  13  14  15      csv
2   1   2   3   4   5       hi
3   6   7   8   9  10   pandas
4  11  12  13  14  15      csv

In [31]:
df =pd.read_csv('example5.csv')
df

     1   2   3   4   5       hi
0    6   7   8   9  10   pandas
1   11  12  13  14  15      csv
2    1   2   3   4   5       hi
3    6   7   8   9  10   pandas
4   11  12  13  14  15      csv
5    1   2   3   4   5       hi
6    6   7   8   9  10   pandas
7   11  12  13  14  15      csv
8    1   2   3   4   5       hi
9    6   7   8   9  10   pandas
10  11  12  13  14  15      csv

In [32]:
#Dataframe을 csv로 저장하기
df.to_csv('output.csv')
!cat output.csv

,1,2,3,4,5, hi
0,6,7,8,9,10, pandas
1,11,12,13,14,15, csv
2,1,2,3,4,5, hi
3,6,7,8,9,10, pandas
4,11,12,13,14,15, csv
5,1,2,3,4,5, hi
6,6,7,8,9,10, pandas
7,11,12,13,14,15, csv
8,1,2,3,4,5, hi
9,6,7,8,9,10, pandas
10,11,12,13,14,15, csv

In [33]:
dr =pd.date_range('2020-01-01', periods=10)
ts=pd.Series(np.arange(10), index=dr)
ts

2020-01-01    0
2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
2020-01-08    7
2020-01-09    8
2020-01-10    9
Freq: D, dtype: int64

In [35]:
# csv파일로 바꾸기

ts.to_csv('ts.csv', header=['value'])
!cat ts.csv

,value
2020-01-01,0
2020-01-02,1
2020-01-03,2
2020-01-04,3
2020-01-05,4
2020-01-06,5
2020-01-07,6
2020-01-08,7
2020-01-09,8
2020-01-10,9

In [36]:

%%writefile example.json
[{"a":1,"b":2,"c":3,"d":4,"e":5},
 {"a":6,"b":7,"c":8,"d":9,"e":10},
 {"a":11,"b":12,"c":13,"d":14,"e":15}]

Writing example.json

In [38]:
!cat example.json

[{"a":1,"b":2,"c":3,"d":4,"e":5},
 {"a":6,"b":7,"c":8,"d":9,"e":10},
 {"a":11,"b":12,"c":13,"d":14,"e":15}]

In [39]:
pd.read_json('example.json')

    a   b   c   d   e
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15

In [41]:
ts.to_json('output.json')
!cat output.json

{"1577836800000":0,"1577923200000":1,"1578009600000":2,"1578096000000":3,"1578182400000":4,"1578268800000":5,"1578355200000":6,"1578441600000":7,"1578528000000":8,"1578614400000":9}

In [42]:
df.to_json('output.json')
!cat output.json

{"1":{"0":6,"1":11,"2":1,"3":6,"4":11,"5":1,"6":6,"7":11,"8":1,"9":6,"10":11},"2":{"0":7,"1":12,"2":2,"3":7,"4":12,"5":2,"6":7,"7":12,"8":2,"9":7,"10":12},"3":{"0":8,"1":13,"2":3,"3":8,"4":13,"5":3,"6":8,"7":13,"8":3,"9":8,"10":13},"4":{"0":9,"1":14,"2":4,"3":9,"4":14,"5":4,"6":9,"7":14,"8":4,"9":9,"10":14},"5":{"0":10,"1":15,"2":5,"3":10,"4":15,"5":5,"6":10,"7":15,"8":5,"9":10,"10":15}," hi":{"0":" pandas","1":" csv","2":" hi","3":" pandas","4":" csv","5":" hi","6":" pandas","7":" csv","8":" hi","9":" pandas","10":" csv"}}

### 이진 데이터파일 읽기/쓰기

In [43]:
df =pd.read_csv('example.csv')
df

    a   b   c   d   e     text
0   1   2   3   4   5       hi
1   6   7   8   9  10   pandas
2  11  12  13  14  15      csv

In [44]:
df.to_pickle('df_pickle')
pd.read_pickle('df_pickle')

    a   b   c   d   e     text
0   1   2   3   4   5       hi
1   6   7   8   9  10   pandas
2  11  12  13  14  15      csv

In [47]:
df = pd.DataFrame({'a':np.random.randn(100),
                   'b':np.random.randn(100),
                   'c':np.random.randn(100)})
df

           a         b         c
0   1.033096  0.656642 -0.968854
1  -1.783741  0.621401 -1.632838
2  -1.539023  0.540996 -0.291324
3   0.583787  0.250041 -2.210578
4  -0.175907  1.791116 -0.987257
..       ...       ...       ...
95 -0.486256  1.820417  0.787875
96 -1.297012  0.386336  1.521049
97 -0.371603 -0.098555  1.267949
98 -1.416689  2.135251 -0.196890
99  1.751511 -0.894875 -0.423655

[100 rows x 3 columns]

In [49]:
h = pd.HDFStore('date.h5')
h['obj1'] = df
h['obj1_col1'] = df['a']
h['obj1_col2'] = df['b']
h['obj1_col3'] = df['c']
h

<class 'pandas.io.pytables.HDFStore'>
File path: date.h5

In [52]:
h['obj1']

           a         b         c
0   1.033096  0.656642 -0.968854
1  -1.783741  0.621401 -1.632838
2  -1.539023  0.540996 -0.291324
3   0.583787  0.250041 -2.210578
4  -0.175907  1.791116 -0.987257
..       ...       ...       ...
95 -0.486256  1.820417  0.787875
96 -1.297012  0.386336  1.521049
97 -0.371603 -0.098555  1.267949
98 -1.416689  2.135251 -0.196890
99  1.751511 -0.894875 -0.423655

[100 rows x 3 columns]

In [53]:
h.put('obj2',df, format='table')

In [55]:
h.select('obj2', where=['index>50 and index<=60'])

           a         b         c
51 -0.367090  0.709589 -0.167372
52 -1.249453 -1.838765  0.337807
53 -0.702861 -1.570134  0.298441
54 -1.232527 -0.241974  0.282380
55  0.630602  0.128966  0.628330
56 -0.481873 -1.296764 -0.595599
57  0.840437  0.918330  1.057386
58 -0.259715 -0.811763 -0.227454
59 -0.268880 -0.118552  0.191971
60 -2.456866 -0.060918 -0.714584

In [56]:
h.close()

In [57]:
df.to_hdf('data.h5', 'obj3', format='table')
pd.read_hdf('data.h5','obj3', where=['index<10'])

          a         b         c
0  1.033096  0.656642 -0.968854
1 -1.783741  0.621401 -1.632838
2 -1.539023  0.540996 -0.291324
3  0.583787  0.250041 -2.210578
4 -0.175907  1.791116 -0.987257
5 -1.095777  0.336865  0.291679
6 -1.409416 -0.693205  0.977173
7  0.115661 -0.148852 -0.679443
8 -0.096118 -0.009641 -0.040210
9  0.351411 -0.354716  0.589309

In [58]:
#Excel파일로 저장하기

df.to_excel('example.xlsx','Sheet1')
!ls

data.h5    example1.csv  example5.csv  example.xlsx  sample_data
date.h5    example3.txt  example.csv   output.csv    ts.csv
df_pickle  example4.csv  example.json  output.json

### 데이터 정제

In [59]:
# None : 파이썬에서 누락데이터 표시방식

a = np.array([1,2, None,4, 5])
a

array([1, 2, None, 4, 5], dtype=object)

In [61]:
# a.sum() None값이 있으면 연산이 안됨

In [62]:
# NaN : 누락된 수치 데이터

a = np.array([1,2,np.nan, 4, 5])
a.dtype

dtype('float64')

In [64]:
0+ np.nan

nan

In [65]:
np.nan +np.nan

nan

In [67]:
a.sum(), a.min(), a.max()

(nan, nan, nan)

In [69]:
#nan값이 있을 경우의 함수

np.nansum(a), np.nanmin(a), np.nanmax(a)

(12.0, 1.0, 5.0)

In [70]:
# Series에서는 None도 NaN으로 나타남

pd.Series([1,2, None, 4, np.nan])

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [71]:
s = pd.Series(range(5), dtype=int)
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [72]:
s[0] = None
s

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64

In [74]:
s[3] = np.nan
s

0    NaN
1    1.0
2    2.0
3    NaN
4    4.0
dtype: float64

In [75]:
#Null 값의 처리

s = pd.Series([1,2,np.nan, 'string', None])
s

0         1
1         2
2       NaN
3    string
4      None
dtype: object

In [77]:
s.isnull()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [78]:
#NaN이 아닌 값만 보여줘

s[s.notnull()]

0         1
1         2
3    string
dtype: object

In [79]:
#NaN인 값은 드랍해버려

s.dropna()

0         1
1         2
3    string
dtype: object

In [83]:
df.dropna(axis='columns')

           a         b         c
0   1.033096  0.656642 -0.968854
1  -1.783741  0.621401 -1.632838
2  -1.539023  0.540996 -0.291324
3   0.583787  0.250041 -2.210578
4  -0.175907  1.791116 -0.987257
..       ...       ...       ...
95 -0.486256  1.820417  0.787875
96 -1.297012  0.386336  1.521049
97 -0.371603 -0.098555  1.267949
98 -1.416689  2.135251 -0.196890
99  1.751511 -0.894875 -0.423655

[100 rows x 3 columns]

In [84]:
# Nan의 추가

df[3] = np.nan
df

           a         b         c   3
0   1.033096  0.656642 -0.968854 NaN
1  -1.783741  0.621401 -1.632838 NaN
2  -1.539023  0.540996 -0.291324 NaN
3   0.583787  0.250041 -2.210578 NaN
4  -0.175907  1.791116 -0.987257 NaN
..       ...       ...       ...  ..
95 -0.486256  1.820417  0.787875 NaN
96 -1.297012  0.386336  1.521049 NaN
97 -0.371603 -0.098555  1.267949 NaN
98 -1.416689  2.135251 -0.196890 NaN
99  1.751511 -0.894875 -0.423655 NaN

[100 rows x 4 columns]

In [85]:
df.dropna(axis='columns', how = 'all')

           a         b         c
0   1.033096  0.656642 -0.968854
1  -1.783741  0.621401 -1.632838
2  -1.539023  0.540996 -0.291324
3   0.583787  0.250041 -2.210578
4  -0.175907  1.791116 -0.987257
..       ...       ...       ...
95 -0.486256  1.820417  0.787875
96 -1.297012  0.386336  1.521049
97 -0.371603 -0.098555  1.267949
98 -1.416689  2.135251 -0.196890
99  1.751511 -0.894875 -0.423655

[100 rows x 3 columns]

In [89]:
df.dropna(axis='rows', thresh=4)

Empty DataFrame
Columns: [a, b, c, 3]
Index: []

In [90]:
df.dropna(axis='rows', thresh=3)

           a         b         c   3
0   1.033096  0.656642 -0.968854 NaN
1  -1.783741  0.621401 -1.632838 NaN
2  -1.539023  0.540996 -0.291324 NaN
3   0.583787  0.250041 -2.210578 NaN
4  -0.175907  1.791116 -0.987257 NaN
..       ...       ...       ...  ..
95 -0.486256  1.820417  0.787875 NaN
96 -1.297012  0.386336  1.521049 NaN
97 -0.371603 -0.098555  1.267949 NaN
98 -1.416689  2.135251 -0.196890 NaN
99  1.751511 -0.894875 -0.423655 NaN

[100 rows x 4 columns]

In [91]:
s

0         1
1         2
2       NaN
3    string
4      None
dtype: object

In [92]:
#nan 채우기

s.fillna(0)

0         1
1         2
2         0
3    string
4         0
dtype: object

In [93]:
s.fillna(method='ffill')

0         1
1         2
2         2
3    string
4    string
dtype: object

In [94]:
s.fillna(method='bfill')

0         1
1         2
2    string
3    string
4      None
dtype: object

In [96]:
df

           a         b         c   3
0   1.033096  0.656642 -0.968854 NaN
1  -1.783741  0.621401 -1.632838 NaN
2  -1.539023  0.540996 -0.291324 NaN
3   0.583787  0.250041 -2.210578 NaN
4  -0.175907  1.791116 -0.987257 NaN
..       ...       ...       ...  ..
95 -0.486256  1.820417  0.787875 NaN
96 -1.297012  0.386336  1.521049 NaN
97 -0.371603 -0.098555  1.267949 NaN
98 -1.416689  2.135251 -0.196890 NaN
99  1.751511 -0.894875 -0.423655 NaN

[100 rows x 4 columns]

In [98]:
df.fillna(method='ffill', axis=0)

           a         b         c   3
0   1.033096  0.656642 -0.968854 NaN
1  -1.783741  0.621401 -1.632838 NaN
2  -1.539023  0.540996 -0.291324 NaN
3   0.583787  0.250041 -2.210578 NaN
4  -0.175907  1.791116 -0.987257 NaN
..       ...       ...       ...  ..
95 -0.486256  1.820417  0.787875 NaN
96 -1.297012  0.386336  1.521049 NaN
97 -0.371603 -0.098555  1.267949 NaN
98 -1.416689  2.135251 -0.196890 NaN
99  1.751511 -0.894875 -0.423655 NaN

[100 rows x 4 columns]

In [99]:
df.fillna(method='ffill', axis=1)

           a         b         c         3
0   1.033096  0.656642 -0.968854 -0.968854
1  -1.783741  0.621401 -1.632838 -1.632838
2  -1.539023  0.540996 -0.291324 -0.291324
3   0.583787  0.250041 -2.210578 -2.210578
4  -0.175907  1.791116 -0.987257 -0.987257
..       ...       ...       ...       ...
95 -0.486256  1.820417  0.787875  0.787875
96 -1.297012  0.386336  1.521049  1.521049
97 -0.371603 -0.098555  1.267949  1.267949
98 -1.416689  2.135251 -0.196890 -0.196890
99  1.751511 -0.894875 -0.423655 -0.423655

[100 rows x 4 columns]

In [100]:
df.fillna(method='bfill', axis=0)

           a         b         c   3
0   1.033096  0.656642 -0.968854 NaN
1  -1.783741  0.621401 -1.632838 NaN
2  -1.539023  0.540996 -0.291324 NaN
3   0.583787  0.250041 -2.210578 NaN
4  -0.175907  1.791116 -0.987257 NaN
..       ...       ...       ...  ..
95 -0.486256  1.820417  0.787875 NaN
96 -1.297012  0.386336  1.521049 NaN
97 -0.371603 -0.098555  1.267949 NaN
98 -1.416689  2.135251 -0.196890 NaN
99  1.751511 -0.894875 -0.423655 NaN

[100 rows x 4 columns]

In [101]:
df.fillna(method='bfill', axis=1)

           a         b         c   3
0   1.033096  0.656642 -0.968854 NaN
1  -1.783741  0.621401 -1.632838 NaN
2  -1.539023  0.540996 -0.291324 NaN
3   0.583787  0.250041 -2.210578 NaN
4  -0.175907  1.791116 -0.987257 NaN
..       ...       ...       ...  ..
95 -0.486256  1.820417  0.787875 NaN
96 -1.297012  0.386336  1.521049 NaN
97 -0.371603 -0.098555  1.267949 NaN
98 -1.416689  2.135251 -0.196890 NaN
99  1.751511 -0.894875 -0.423655 NaN

[100 rows x 4 columns]

### 중복 제거

In [102]:
df = pd.DataFrame({'c1':['a', 'b','c']*2 +['b'] +['c'],
                   'c2':[1,2,1,1,2,3,3,4]})
df

  c1  c2
0  a   1
1  b   2
2  c   1
3  a   1
4  b   2
5  c   3
6  b   3
7  c   4

In [103]:
df.duplicated()

0    False
1    False
2    False
3     True
4     True
5    False
6    False
7    False
dtype: bool

In [107]:
df.drop_duplicates()

  c1  c2
0  a   1
1  b   2
2  c   1
5  c   3
6  b   3
7  c   4

### 값 치환

In [108]:
# 엉뚱한 값들의 치환

s = pd.Series([1,2,-999, 3, -1000, 4])
s

0       1
1       2
2    -999
3       3
4   -1000
5       4
dtype: int64

In [111]:
s.replace(-999, np.nan)

0       1.0
1       2.0
2       NaN
3       3.0
4   -1000.0
5       4.0
dtype: float64

In [112]:
s.replace([-999,-1000], np.nan)

0    1.0
1    2.0
2    NaN
3    3.0
4    NaN
5    4.0
dtype: float64

In [114]:
#nan을 특정값으로 치환하기

s.replace([-999,-1000], ['요렇게도 되나',0])

0          1
1          2
2    요렇게도 되나
3          3
4          0
5          4
dtype: object