<a href="https://colab.research.google.com/github/saonongjang/coding_excercise/blob/main/DataFrame_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas를 이용한 데이터 분석하기

## Gongburo 따라하기

### 데이터의 결합
#### concate()와 append

In [1]:
# 필요한 라이브러리 불러오기

import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(['a', 'b'], index=[1,2])
s2 = pd.Series(['c', 'd'], index=[3,4])
pd.concat([s1,s2])

1    a
2    b
3    c
4    d
dtype: object

In [4]:
# dataframe을 자동으로 만들어 주기 위한 함수 만들기

def create_df(cols,idx):
  data = {c:[str(c.lower()) + str(i) for i in idx] for c in cols}
  return pd.DataFrame(data,idx)

In [6]:
df1 = create_df('AB', [1,2])
df1

    A   B
1  a1  b1
2  a2  b2

In [7]:
df2= create_df('AB', [3,4])
df2

    A   B
3  a3  b3
4  a4  b4

In [8]:
# df의 concate

pd.concat([df1,df2])

    A   B
1  a1  b1
2  a2  b2
3  a3  b3
4  a4  b4

In [9]:
df3 = create_df('AB', [0,1])
df3

    A   B
0  a0  b0
1  a1  b1

In [11]:
df4 = create_df('CD', [1,2])
df4

    C   D
1  c1  d1
2  c2  d2

In [13]:
# 가로 concate

pd.concat([df3,df4])

     A    B    C    D
0   a0   b0  NaN  NaN
1   a1   b1  NaN  NaN
1  NaN  NaN   c1   d1
2  NaN  NaN   c2   d2

In [21]:
# 동일한 인덱스를 가지고 있는 것을 합치는 방법

pd.concat([df3,df4],axis=1)

     A    B    C    D
0   a0   b0  NaN  NaN
1   a1   b1   c1   d1
2  NaN  NaN   c2   d2

In [14]:
# pd.concat([df1,df3], verify_integrity=True)  #합칠수 없는 df를 확인하는 방법

ValueError: ignored

In [15]:
# 그래도 억지로 df를 합치고 싶다면

pd.concat([df1,df3], ignore_index=True)

    A   B
0  a1  b1
1  a2  b2
2  a0  b0
3  a1  b1

In [17]:
# key 값을 주어서 합치는 방법

pd.concat([df1,df2], keys=['x','y'])

      A   B
x 1  a1  b1
  2  a2  b2
y 3  a3  b3
  4  a4  b4

In [18]:
df5 = create_df('ABC', [1,2])
df6 = create_df('BCD', [3,4])
pd.concat([df5,df6])

     A   B   C    D
1   a1  b1  c1  NaN
2   a2  b2  c2  NaN
3  NaN  b3  c3   d3
4  NaN  b4  c4   d4

In [19]:
# 중복되는 column의 데이터만 추출

pd.concat([df5,df6], join='inner')

    B   C
1  b1  c1
2  b2  c2
3  b3  c3
4  b4  c4

In [20]:
#df5에 df6를 추가

df5.append(df6)

     A   B   C    D
1   a1  b1  c1  NaN
2   a2  b2  c2  NaN
3  NaN  b3  c3   d3
4  NaN  b4  c4   d4

#### 데이터의 병합과 조인

In [30]:
#좀 더 큰 데이터프레임을 생성

df1 = pd.DataFrame({'학생':['홍길동','이순신','임꺽정','김유신'],
                    '학과':['경영학과','교육학과','컴퓨터학과', '통계학과']})
df1

    학생     학과
0  홍길동   경영학과
1  이순신   교육학과
2  임꺽정  컴퓨터학과
3  김유신   통계학과

In [31]:
df2 = pd.DataFrame({'학생':['홍길동','이순신','임꺽정','김유신'],
                    '입학년도':['2000', '2001', '2002', '2003']})
df2

    학생  입학년도
0  홍길동  2000
1  이순신  2001
2  임꺽정  2002
3  김유신  2003

In [32]:
df3 = pd.merge(df1,df2)
df3

    학생     학과  입학년도
0  홍길동   경영학과  2000
1  이순신   교육학과  2001
2  임꺽정  컴퓨터학과  2002
3  김유신   통계학과  2003

In [33]:
df4 = pd.DataFrame({'학과':['경영학과','교육학과','컴퓨터학과', '통계학과'],
                    '학과장':['황희', '장영실', '백민결', '최영']})
df4

      학과  학과장
0   경영학과   황희
1   교육학과  장영실
2  컴퓨터학과  백민결
3   통계학과   최영

In [34]:
pd.merge(df3,df4)

    학생     학과  입학년도  학과장
0  홍길동   경영학과  2000   황희
1  이순신   교육학과  2001  장영실
2  임꺽정  컴퓨터학과  2002  백민결
3  김유신   통계학과  2003   최영

In [37]:
df5 = pd.DataFrame({'학과':['경영학과', '교육학과', '교육학과', '컴퓨터학과', '컴퓨터학과', '통계학과'],
                    '과목': ['경영개론', '기초수학', '물리학', '프로그래밍','운영체제', '확률론']})
df5

      학과     과목
0   경영학과   경영개론
1   교육학과   기초수학
2   교육학과    물리학
3  컴퓨터학과  프로그래밍
4  컴퓨터학과   운영체제
5   통계학과    확률론

In [38]:
pd.merge(df1,df5)

    학생     학과     과목
0  홍길동   경영학과   경영개론
1  이순신   교육학과   기초수학
2  이순신   교육학과    물리학
3  임꺽정  컴퓨터학과  프로그래밍
4  임꺽정  컴퓨터학과   운영체제
5  김유신   통계학과    확률론

In [39]:
pd.merge(df1,df2, on='학생')

    학생     학과  입학년도
0  홍길동   경영학과  2000
1  이순신   교육학과  2001
2  임꺽정  컴퓨터학과  2002
3  김유신   통계학과  2003

In [40]:
df6 = pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정', '김유신'],
                    '성적':['A', 'B', 'C', 'A+']})
df6

    이름  성적
0  홍길동   A
1  이순신   B
2  임꺽정   C
3  김유신  A+

In [41]:
pd.merge(df1,df6, left_on ='학생', right_on = '이름' )

    학생     학과   이름  성적
0  홍길동   경영학과  홍길동   A
1  이순신   교육학과  이순신   B
2  임꺽정  컴퓨터학과  임꺽정   C
3  김유신   통계학과  김유신  A+

In [45]:
pd.merge(df1,df6, left_on ='학생', right_on = '이름' ).drop('이름', axis=1)

    학생     학과  성적
0  홍길동   경영학과   A
1  이순신   교육학과   B
2  임꺽정  컴퓨터학과   C
3  김유신   통계학과  A+

In [46]:
mdf1 = df1.set_index('학생')
mdf2 = df2.set_index('학생')
mdf1

        학과
학생
홍길동   경영학과
이순신   교육학과
임꺽정  컴퓨터학과
김유신   통계학과

In [47]:
mdf2

     입학년도
학생
홍길동  2000
이순신  2001
임꺽정  2002
김유신  2003

In [49]:
pd.merge(mdf1, mdf2, left_index = True, right_index=True)

        학과  입학년도
학생
홍길동   경영학과  2000
이순신   교육학과  2001
임꺽정  컴퓨터학과  2002
김유신   통계학과  2003

In [50]:
mdf1.join(mdf2)

        학과  입학년도
학생
홍길동   경영학과  2000
이순신   교육학과  2001
임꺽정  컴퓨터학과  2002
김유신   통계학과  2003

In [51]:
pd.merge(mdf1, df6, left_index=True, right_on='이름')

      학과   이름  성적
0   경영학과  홍길동   A
1   교육학과  이순신   B
2  컴퓨터학과  임꺽정   C
3   통계학과  김유신  A+

In [52]:
df7 =pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정'], 
                   '주문음식' :['햄버거', '피자', '짜장면']})
df7

    이름 주문음식
0  홍길동  햄버거
1  이순신   피자
2  임꺽정  짜장면

In [53]:
df8 =pd.DataFrame({'이름':['홍길동', '이순신', '김유신'], 
                   '주문음료' :['콜라', '사이다', '커피']})
df8

    이름 주문음료
0  홍길동   콜라
1  이순신  사이다
2  김유신   커피

In [54]:
pd.merge(df7,df8)

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다

In [56]:
pd.merge(df7,df8, how='inner') #단순이 merge하는 것과 동일한 결과

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다

In [55]:
pd.merge(df7,df8, how='outer') #중복이 안되는 것도 보여줌

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면  NaN
3  김유신  NaN   커피

In [57]:
pd.merge(df7,df8, how='left') # 좌측 df(df7)기준으로 보여줌

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면  NaN

In [58]:
pd.merge(df7,df8, how='right')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  김유신  NaN   커피

In [59]:
df9 = pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정', '김유신'],
                    '순위':[3,2,4,1]})
df9

    이름  순위
0  홍길동   3
1  이순신   2
2  임꺽정   4
3  김유신   1

In [60]:
df10 = pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정', '김유신'],
                    '순위':[4,1,3,2]})
df10

    이름  순위
0  홍길동   4
1  이순신   1
2  임꺽정   3
3  김유신   2

In [62]:
pd.merge(df9,df10, on='이름')

    이름  순위_x  순위_y
0  홍길동     3     4
1  이순신     2     1
2  임꺽정     4     3
3  김유신     1     2

In [63]:
pd.merge(df9,df10, on='이름', suffixes=['_인기', '_성적'])

    이름  순위_인기  순위_성적
0  홍길동      3      4
1  이순신      2      1
2  임꺽정      4      3
3  김유신      1      2