<a href="https://colab.research.google.com/github/saonongjang/coding_excercise/blob/main/DataFrame_exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 연습

## 데이터 집계와 그룹연산

In [2]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame([[1,1.2,np.nan], 
                   [2.4, 5.5, 4.2],
                   [np.nan, np.nan, np.nan],
                   [0.44,-3.1,-4.1]],
                   index =[1,2,3,4],
                   columns=['A', 'B', 'C'])
df

      A    B    C
1  1.00  1.2  NaN
2  2.40  5.5  4.2
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1

In [ ]:
df.head(2)

     A    B    C
1  1.0  1.2  NaN
2  2.4  5.5  4.2

In [ ]:
df.tail(3)

      A    B    C
2  2.40  5.5  4.2
3   NaN  NaN  NaN
4  0.44 -3.1 -4.1

In [ ]:
df.describe()

              A     B         C
count  3.000000  3.00  2.000000
mean   1.280000  1.20  0.050000
std    1.009554  4.30  5.868986
min    0.440000 -3.10 -4.100000
25%    0.720000 -0.95 -2.025000
50%    1.000000  1.20  0.050000
75%    1.700000  3.35  2.125000
max    2.400000  5.50  4.200000

In [ ]:
print(df.std())
print(df.var())

A    1.009554
B    4.300000
C    5.868986
dtype: float64
A     1.0192
B    18.4900
C    34.4450
dtype: float64

In [ ]:
print(df.skew())
print(df.kurt())

A    1.15207
B    0.00000
C        NaN
dtype: float64
A   NaN
B   NaN
C   NaN
dtype: float64

In [ ]:
print(df.sum())
print(df.cumsum())

A    3.84
B    3.60
C    0.10
dtype: float64
      A    B    C
1  1.00  1.2  NaN
2  3.40  6.7  4.2
3   NaN  NaN  NaN
4  3.84  3.6  0.1

In [ ]:
# 곱하기 누적곱하기

print(df.prod())
print(df.cumprod())

A     1.056
B   -20.460
C   -17.220
dtype: float64
       A      B      C
1  1.000   1.20    NaN
2  2.400   6.60   4.20
3    NaN    NaN    NaN
4  1.056 -20.46 -17.22

In [ ]:
df.diff()

     A    B   C
1  NaN  NaN NaN
2  1.4  4.3 NaN
3  NaN  NaN NaN
4  NaN  NaN NaN

In [ ]:
df.corr()

          A         B    C
A  1.000000  0.970725  1.0
B  0.970725  1.000000  1.0
C  1.000000  1.000000  1.0

In [ ]:
# 특정값 기준으로 상관관계 보기

df.corrwith(df.B)

A    0.970725
B    1.000000
C    1.000000
dtype: float64

In [ ]:
# 공분산

df.cov()

        A       B       C
A  1.0192   4.214   8.134
B  4.2140  18.490  35.690
C  8.1340  35.690  34.445

In [ ]:
df['B'].unique()

array([ 1.2,  5.5,  nan, -3.1])

In [ ]:
df['A'].value_counts()

1.00    1
2.40    1
0.44    1
Name: A, dtype: int64

### GroupBy 연산

In [ ]:
df = pd.DataFrame({'c1':['a','a','b','b','c','d','b'],
                   'c2':['A','B','B','A','D','C','c'],
                   'c3':np.random.randint(7),
                   'c4' :np.random.random(7)})
df

  c1 c2  c3        c4
0  a  A   5  0.767807
1  a  B   5  0.973658
2  b  B   5  0.798731
3  b  A   5  0.038805
4  c  D   5  0.661245
5  d  C   5  0.542170
6  b  c   5  0.637358

In [ ]:
df.dtypes

c1     object
c2     object
c3      int64
c4    float64
dtype: object

In [ ]:
df['c3'].groupby(df['c1']).mean()

c1
a    5.0
b    5.0
c    5.0
d    5.0
Name: c3, dtype: float64

In [ ]:
df['c4'].groupby(df['c2']).std()

c2
A    0.515483
B    0.123692
C         NaN
D         NaN
c         NaN
Name: c4, dtype: float64

In [ ]:
df['c4'].groupby([df['c1'], df['c2']]).mean()

c1  c2
a   A     0.767807
    B     0.973658
b   A     0.038805
    B     0.798731
    c     0.637358
c   D     0.661245
d   C     0.542170
Name: c4, dtype: float64

In [ ]:
df['c4'].groupby([df['c1'], df['c2']]).mean().unstack()

c2         A         B        C         D         c
c1
a   0.767807  0.973658      NaN       NaN       NaN
b   0.038805  0.798731      NaN       NaN  0.637358
c        NaN       NaN      NaN  0.661245       NaN
d        NaN       NaN  0.54217       NaN       NaN

In [ ]:
df.groupby('c1').mean()

     c3        c4
c1
a   5.0  0.870733
b   5.0  0.491631
c   5.0  0.661245
d   5.0  0.542170

In [ ]:
df.groupby(['c1','c2']).size()

c1  c2
a   A     1
    B     1
b   A     1
    B     1
    c     1
c   D     1
d   C     1
dtype: int64

In [ ]:
for c1, group in df.groupby('c1'):
  print(c1)
  print(group)

a
  c1 c2  c3        c4
0  a  A   5  0.767807
1  a  B   5  0.973658
b
  c1 c2  c3        c4
2  b  B   5  0.798731
3  b  A   5  0.038805
6  b  c   5  0.637358
c
  c1 c2  c3        c4
4  c  D   5  0.661245
d
  c1 c2  c3       c4
5  d  C   5  0.54217

In [ ]:
for (c1,c2), group in df.groupby(['c1','c2']):
  print((c1,c2))
  print(group)

('a', 'A')
  c1 c2  c3        c4
0  a  A   5  0.767807
('a', 'B')
  c1 c2  c3        c4
1  a  B   5  0.973658
('b', 'A')
  c1 c2  c3        c4
3  b  A   5  0.038805
('b', 'B')
  c1 c2  c3        c4
2  b  B   5  0.798731
('b', 'c')
  c1 c2  c3        c4
6  b  c   5  0.637358
('c', 'D')
  c1 c2  c3        c4
4  c  D   5  0.661245
('d', 'C')
  c1 c2  c3       c4
5  d  C   5  0.54217

In [ ]:
#특정열에 대한 mean값만 도출

df.groupby(['c1','c2'])['c4'].mean()

c1  c2
a   A     0.767807
    B     0.973658
b   A     0.038805
    B     0.798731
    c     0.637358
c   D     0.661245
d   C     0.542170
Name: c4, dtype: float64

In [ ]:
df.groupby('c1')['c3'].count()

c1
a    2
b    3
c    1
d    1
Name: c3, dtype: int64

In [ ]:
df.groupby('c1')['c3'].median()

c1
a    5.0
b    5.0
c    5.0
d    5.0
Name: c3, dtype: float64

In [ ]:
df.groupby('c1')['c4'].std()

c1
a    0.145558
b    0.400374
c         NaN
d         NaN
Name: c4, dtype: float64

In [ ]:
#여러가지 결과를 한꺼번에 출력하기

df.groupby(['c1','c2'])['c4'].agg(['mean','min', 'max', 'std'])

           mean       min       max  std
c1 c2
a  A   0.767807  0.767807  0.767807  NaN
   B   0.973658  0.973658  0.973658  NaN
b  A   0.038805  0.038805  0.038805  NaN
   B   0.798731  0.798731  0.798731  NaN
   c   0.637358  0.637358  0.637358  NaN
c  D   0.661245  0.661245  0.661245  NaN
d  C   0.542170  0.542170  0.542170  NaN

In [ ]:
df.groupby(['c1','c2'], as_index=False)['c4'].mean() #c1,c2가 인덱스가 사라지고 칼럼으로 변환됨

  c1 c2        c4
0  a  A  0.767807
1  a  B  0.973658
2  b  A  0.038805
3  b  B  0.798731
4  b  c  0.637358
5  c  D  0.661245
6  d  C  0.542170

In [ ]:
df.groupby(['c1','c2'], group_keys=False)['c4'].mean() #c1,c2가 인덱스가 사라지고 칼럼으로 변환됨

c1  c2
a   A     0.767807
    B     0.973658
b   A     0.038805
    B     0.798731
    c     0.637358
c   D     0.661245
d   C     0.542170
Name: c4, dtype: float64

In [ ]:
def top(df,n=3,column='c1'):
  return df.sort_values(by=column)[-n:]

top(df,n=5)

  c1 c2  c3        c4
2  b  B   5  0.798731
3  b  A   5  0.038805
6  b  c   5  0.637358
4  c  D   5  0.661245
5  d  C   5  0.542170

In [ ]:
df.groupby('c1').apply(top)

     c1 c2  c3        c4
c1
a  0  a  A   5  0.767807
   1  a  B   5  0.973658
b  2  b  B   5  0.798731
   3  b  A   5  0.038805
   6  b  c   5  0.637358
c  4  c  D   5  0.661245
d  5  d  C   5  0.542170

### 피벗테이블

In [ ]:
df.pivot_table(['c3','c4'],
               index=['c1'],
               columns=['c2'])

     c3                            c4
c2    A    B    C    D    c         A         B        C         D         c
c1
a   5.0  5.0  NaN  NaN  NaN  0.767807  0.973658      NaN       NaN       NaN
b   5.0  5.0  NaN  NaN  5.0  0.038805  0.798731      NaN       NaN  0.637358
c   NaN  NaN  NaN  5.0  NaN       NaN       NaN      NaN  0.661245       NaN
d   NaN  NaN  5.0  NaN  NaN       NaN       NaN  0.54217       NaN       NaN

In [ ]:
df.pivot_table(['c3','c4'],
               index=['c1'],
               columns=['c2'],
               margins=True)

      c3                                 c4                               \
c2     A    B    C    D    c  All         A         B        C         D
c1
a    5.0  5.0  NaN  NaN  NaN  5.0  0.767807  0.973658      NaN       NaN
b    5.0  5.0  NaN  NaN  5.0  5.0  0.038805  0.798731      NaN       NaN
c    NaN  NaN  NaN  5.0  NaN  5.0       NaN       NaN      NaN  0.661245
d    NaN  NaN  5.0  NaN  NaN  5.0       NaN       NaN  0.54217       NaN
All  5.0  5.0  5.0  5.0  5.0  5.0  0.403306  0.886195  0.54217  0.661245


c2          c       All
c1
a         NaN  0.870733
b    0.637358  0.491631
c         NaN  0.661245
d         NaN  0.542170
All  0.637358  0.631396

In [ ]:
df.pivot_table(['c3','c4'],
               index=['c1'],
               columns=['c2'],
               margins=True,
               aggfunc=sum)

       c3                                 c4                               \
c2      A     B    C    D    c All         A         B        C         D
c1
a     5.0   5.0  NaN  NaN  NaN  10  0.767807  0.973658      NaN       NaN
b     5.0   5.0  NaN  NaN  5.0  15  0.038805  0.798731      NaN       NaN
c     NaN   NaN  NaN  5.0  NaN   5       NaN       NaN      NaN  0.661245
d     NaN   NaN  5.0  NaN  NaN   5       NaN       NaN  0.54217       NaN
All  10.0  10.0  5.0  5.0  5.0  35  0.806612  1.772389  0.54217  0.661245


c2          c       All
c1
a         NaN  1.741465
b    0.637358  1.474894
c         NaN  0.661245
d         NaN  0.542170
All  0.637358  4.419774

In [ ]:
df.pivot_table(['c3','c4'],
               index=['c1'],
               columns=['c2'],
               margins=True,
               aggfunc=sum,
               fill_value=0)

     c3                         c4                                         \
c2    A   B  C  D  c All         A         B        C         D         c
c1
a     5   5  0  0  0  10  0.767807  0.973658  0.00000  0.000000  0.000000
b     5   5  0  0  5  15  0.038805  0.798731  0.00000  0.000000  0.637358
c     0   0  0  5  0   5  0.000000  0.000000  0.00000  0.661245  0.000000
d     0   0  5  0  0   5  0.000000  0.000000  0.54217  0.000000  0.000000
All  10  10  5  5  5  35  0.806612  1.772389  0.54217  0.661245  0.637358


c2        All
c1
a    1.741465
b    1.474894
c    0.661245
d    0.542170
All  4.419774

In [ ]:
pd.crosstab(df.c1,df.c2)

c2  A  B  C  D  c
c1
a   1  1  0  0  0
b   1  1  0  0  1
c   0  0  0  1  0
d   0  0  1  0  0

In [ ]:
pd.crosstab(df.c1, df.c2, values=df.c3, aggfunc=sum, margins=True)

c2      A     B    C    D    c  All
c1
a     5.0   5.0  NaN  NaN  NaN   10
b     5.0   5.0  NaN  NaN  5.0   15
c     NaN   NaN  NaN  5.0  NaN    5
d     NaN   NaN  5.0  NaN  NaN    5
All  10.0  10.0  5.0  5.0  5.0   35

### category형 테이터 처리방법

In [3]:
s= pd.Series(['c1','c2','c1','c2','c1']*2)
s

0    c1
1    c2
2    c1
3    c2
4    c1
5    c1
6    c2
7    c1
8    c2
9    c1
dtype: object

In [5]:
pd.unique(s)

array(['c1', 'c2'], dtype=object)

In [6]:
pd.value_counts(s) #각 값으 ㄱ갯

c1    6
c2    4
dtype: int64

In [8]:
# 카테고리 데이터 만들기

code = pd.Series([0,1,0,1,0]*2)
code

0    0
1    1
2    0
3    1
4    0
5    0
6    1
7    0
8    1
9    0
dtype: int64

In [9]:
d = pd.Series(['c1','c2'])
d

0    c1
1    c2
dtype: object

In [10]:
d.take(code)

0    c1
1    c2
0    c1
1    c2
0    c1
0    c1
1    c2
0    c1
1    c2
0    c1
dtype: object

In [11]:
from numpy.random.mtrand import randint
df= pd.DataFrame({'id':np.arange(len(s)),
                 'c' :s,
                 'v' : np.random.randint(1000,5000, size=len(s))})
df

   id   c     v
0   0  c1  4984
1   1  c2  1911
2   2  c1  3905
3   3  c2  4710
4   4  c1  4409
5   5  c1  4807
6   6  c2  1265
7   7  c1  1202
8   8  c2  4983
9   9  c1  1471

In [13]:
c = df['c'].astype('category') #data를 카테고리로 만들기
c

0    c1
1    c2
2    c1
3    c2
4    c1
5    c1
6    c2
7    c1
8    c2
9    c1
Name: c, dtype: category
Categories (2, object): ['c1', 'c2']

In [14]:
c.values

['c1', 'c2', 'c1', 'c2', 'c1', 'c1', 'c2', 'c1', 'c2', 'c1']
Categories (2, object): ['c1', 'c2']

In [15]:
c.values.categories

Index(['c1', 'c2'], dtype='object')

In [16]:
c.values.codes

array([0, 1, 0, 1, 0, 0, 1, 0, 1, 0], dtype=int8)

In [17]:

df['c'] = c
df.c

0    c1
1    c2
2    c1
3    c2
4    c1
5    c1
6    c2
7    c1
8    c2
9    c1
Name: c, dtype: category
Categories (2, object): ['c1', 'c2']

In [21]:
c[c.isin(['c1','c5'])]

0    c1
2    c1
4    c1
5    c1
7    c1
9    c1
Name: c, dtype: category
Categories (2, object): ['c1', 'c2']